*{
    margin: 0px;
    font-family: arial;
    border: border-box;
}

.navbar {
    height: 70px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo {
    height: 65px;
    width: 220px;
}

.logo {
    background-image: url(Amazon_logo.png);
    background-size: cover;
    height: 65px;
    width: 220px;
    margin-right: 40px;
}

.border {
      border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/* box2 */
.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-right: 40px;
}

.add-second {
    color: #ffffff;
    font-size: 1rem;
}

.add-icon { 
    display: flex;
    align-items: center;
}

/* box3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
    height: 40px;
    width: 620px;
    border-radius: 4px;
}

.search-input {
    width: 100px;
    border: none;
    font-size: 1rem;
    padding-left: 8px;
}

.search-icon {
    width: 45px;
}

